token.txt
config.py
test.py
test2.py
test3.py
# cache/
/cache/*
!/cache/.gitkeep

/__pycache__/
/cogs/__pycache__/
/lib/__pycache__/

# plots
!/cogs/plots/.gitkeep 

/cogs/plots/laptime/*
!/cogs/plots/laptime/.gitkeep 

/cogs/plots/positions/*
!/cogs/plots/positions/.gitkeep

/cogs/plots/qualigap/*
!/cogs/plots/qualigap/.gitkeep 

/cogs/plots/telemetry/*
!/cogs/plots/telemetry/.gitkeep

/cogs/plots/speed/*
!/cogs/plots/speed/.gitkeep 

