token.txt
config.py
# cache/
/cache/*
!/cache/.gitkeep
/__pycache__/
/cogs/__pycache__/
/lib/__pycache__/
/cogs/plots/*
!/cogs/plots/.gitkeep 
!/cogs/plots/laptime/.gitkeep 
!/cogs/plots/positions/.gitkeep
test.py