token.txt
config.py
test*.py
.DS_Store
# cache/
/cache/*
!/cache/.gitkeep

/__pycache__/
/cogs/__pycache__/
/repeated/__pycache__/
/cogsmotogp/__pycache__/
/lib/__pycache__/
/lib/colors.py

# plots
!/cogs/plots/.gitkeep 

/cogs/plots/laptime/*
!/cogs/plots/laptime/.gitkeep 

/cogs/plots/consistency/*
!/cogs/plots/consistency/.gitkeep 

/cogs/plots/positions/*
!/cogs/plots/positions/.gitkeep

/cogs/plots/qualigap/*
!/cogs/plots/qualigap/.gitkeep 

/cogs/plots/telemetry/*
!/cogs/plots/telemetry/.gitkeep

/cogs/plots/speed/*
!/cogs/plots/speed/.gitkeep 

/cogs/plots/strategy/*
!/cogs/plots/strategy/.gitkeep 

/cogs/plots/avgpos/*
!/cogs/plots/avgpos/.gitkeep 

/cogs/plots/h2h/*

/cogs/plots/consistency/*
!/cogs/plots/consistency/.gitkeep 

/cogs/plots/avggapteam/*
!/cogs/plots/avggapteam/.gitkeep 

/cogs/fiaDocs/*
!/cogs/fiaDocs/.gitkeep 
